---
import ContentLayout from "../layouts/ContentLayout.astro";
import AboutMeBento from '../components/AboutMeBento.svelte';
import ContactMe from '../components/ContactMe.astro';
import ProjectCard from "../components/ProjectCard.svelte";
import { getImage } from "astro:assets";

import tnMorii from "../assets/morii-vtt/_thumbnail-3-2.png";
import tnGlarmir from "../assets/glarmir-leatherworks/_collage.png";
import tnTtrpgCompass from "../assets/ttrpg-compass/_thumbnail-3-2.png";
import tnShadowtorch from "../assets/shadowtorch/_thumbnail-3-2.png";
import tnApeAlliance from "../assets/ape-alliance/_website-mockup.png";
import tnGw2Cartographer from "../assets/gw2-cartographer/_thumbnail.jpg";

const thumbnails = await Promise.all([
    tnMorii,
    tnGlarmir,
    tnTtrpgCompass,
    tnShadowtorch,
    tnApeAlliance,
    tnGw2Cartographer
].map(async (image) => await getImage({ src: image })));

const hostName = Astro.url.hostname;
---

<ContentLayout>
    <div class="flex flex-row justify-between flex-wrap w-full font-eiko gap-4">
        <div class="flex flex-col font-eiko lg:text-9xl text-6xl gap-4 mb-6 lg:m-0">
            <h1 class="">hi, I'm</h1>
            <h1 class="text-oxford-300">
                {hostName === 'jrolinek.com' ? 'jan rolínek' : 'fjallnari'}
            </h1>
        </div>
        <div class="flex flex-col center text-4xl lg:text-right gap-4">
            <div class="flex flex-col gap-4">
                <h1 class="">software dev</h1>
            </div>
            <div class="flex flex-col text-gray-400 gap-4">
                <button id="contact-me" class="scroll-button flex lg:justify-end">
                    <h1 class="cursor-pointer hover:text-oxford-300 transition-colors">
                        contact me
                    </h1>
                </button>
                <button id="about-me" class="scroll-button flex lg:justify-end">
                    <h1 class="cursor-pointer hover:text-oxford-300 transition-colors">
                        about me
                    </h1>
                </button>
                <a href="https://github.com/fjallnari" class="cursor-pointer hover:text-oxford-300 transition-colors">
                    github
                </a>
                <!-- <TopIcons client:load /> -->
            </div>
        </div>
    </div>
    <div>
        <!-- <h1 class="text-4xl pb-4 text-gray-400">projects</h1> -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="grid gap-4">
                <ProjectCard client:load
                    name="morii-vtt"
                    type="web app"
                    colorBg="#252529"
                    colorText="#E2E2E2"
                    imageSrc={thumbnails[0].src}
                />
        
                <ProjectCard client:load
                    name="ttrpg-compass"
                    type="website"
                    colorBg="#182326"
                    colorText="#B69048"
                    imageSrc={thumbnails[2].src} 
                />
        
                <ProjectCard client:load
                    name="ape-alliance"
                    type="brand applications"
                    colorBg="#231F20" 
                    colorText="#E9E9E9"
                    imageSrc={thumbnails[4].src} 
                />
        
            </div>
            <div class="grid gap-4">
                <!-- <ProjectCard client:load
                    name="terramem"
                    type="brand design"
                    colorBg="#202419" 
                    colorText="#B1B1A7"
                    imageSrc={thumbnails[1].src}
                /> -->
                <ProjectCard client:load
                    name="glarmir-leatherworks"
                    type="website"
                    colorBg="#2A3323" 
                    colorText="#AEBAA0"
                    imageSrc={thumbnails[1].src}
                />
                <ProjectCard client:load
                    name="shadowtorch"
                    type="web & mobile app"
                    colorBg="#114470"
                    colorText="#7DD3FC"
                    imageSrc={thumbnails[3].src}
                />
                <ProjectCard client:load
                    name="gw2-cartographer"
                    type="web app"
                    colorBg="#24363D"
                    colorText="#B69048"
                    imageSrc={thumbnails[5].src}
                />
            </div>
        </div>
    </div>
    <div id="about-me-anchor">
        <h1 class="text-4xl pb-4 text-gray-400">about me</h1>
        <AboutMeBento client:load />
    </div>
    <div id="contact-me-anchor">
        <!-- <h1 class="text-4xl pb-4 text-gray-400">contact me</h1> -->
        <ContactMe />
    </div>
</ContentLayout>

<script>
    const buttons = document.querySelectorAll('button.scroll-button');

    buttons.forEach((button) => {
        button.addEventListener('click', () => {
            const element = document.getElementById(button.id + '-anchor');
            element?.scrollIntoView({ behavior: 'smooth'});
        });
    });
</script>